
<% include head %>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">
            <form method="POST">
                <fieldset>
                    <legend><%=label%></legend>
                    <textarea id="c_editor" name="content" class="span12" rows="10"></textarea>
                    <input type="submit" value="保存"/>
                </fieldset>
                <form>
        </div>
    </div>
</div>
<% include foot %>